[submodule "aws-cloudformation-templates"]
	path = aws-cloudformation-templates
	url = ../aws-cloudformation-templates.git
[submodule "deploy/side-repo"]
	path = deploy/side-repo
	url = https://github.com/manisharinge2/side-repo
