
[submodule "side-repo"]
	path = side-repo
	url = https://github.com/manisharinge2/side-repo
[submodule "deploy/vault/aws-cloudformation-templates"]
	path = deploy/vault/aws-cloudformation-templates
	url = https://github.com/manisharinge2/aws-cloudformation-templates
